.left-menu {
  background-color: #1F0768;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  color: white;
  overflow-y: scroll;
}
.left-menu .logo {
  padding: 15px 20px;
  border-bottom: 1px solid white;
}
.left-menu .logo h2 {
  color: orange;
}
.left-menu .nav-menu .accordian-section a {
  color: white;
  text-decoration: none;
}
.left-menu .nav-menu .accordian-section .accordion {
  padding: 22px 32px;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 1px solid #180445;
}
.left-menu .nav-menu .accordian-section .panel {
  background-color: #180445;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.3s ease-out;
  backdrop-filter: blur(30px);
}
.left-menu .nav-menu .accordian-section .panel.active-panel {
  max-height: 1000px;
  transition: max-height 0.3s ease-in;
}
.left-menu .nav-menu .accordian-section .panel ul {
  list-style: none;
}
.left-menu .nav-menu .accordian-section .panel ul li {
  padding: 15px 40px;
}
.left-menu .nav-menu .accordian-section .panel ul li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.left-menu .nav-menu ul li a {
  color: white;
  text-decoration: none;
}

.center-block {
  padding-left: 30px;
  padding-top: 30px;
  background-color: #f0f1f3;
}
.center-block .d-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.center-block .d-flex .card-one {
  width: calc(25% - 30px);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  height: fit-content;
  box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
}
.center-block .d-flex .card-one .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-block .d-flex .card-one .d-flex .icons {
  width: 80px;
  height: 80px;
  background-color: #d1f3e0;
  border-radius: 50%;
}
.center-block .d-flex .card-one .d-flex .icons.icon-te {
  background-color: #e1f1ff;
}
.center-block .d-flex .card-one .d-flex .icons.icon-pe {
  background-color: #fff2d8;
}
.center-block .d-flex .card-one .d-flex .icons.icon-de {
  background-color: #ffeaea;
}
.center-block .d-flex .card-one .d-flex .icons.icon-de img {
  width: 100%;
  border-radius: 50%;
}
.center-block .d-flex .card-one .d-flex .content .students {
  color: #a8a8a8;
  margin-bottom: 5px;
  font-weight: 500;
}
.center-block .d-flex .card-one .d-flex .content p {
  font-size: 18px;
  font-weight: 600;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

section:nth-of-type(odd) {
  background-color: #f0f0f0;
}

section:nth-of-type(even) {
  background-color: #ffffff;
}

section.horizontal {
  overflow-x: hidden;
}

section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}

section.horizontal .item {
  position: relative;
  padding: 150px 80px;
  flex: 0 0 500px;
  height: calc(100vh - 300px);
  display: flex;
  align-items: center;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  background-color: transparent;
}

section.horizontal .item:before {
  position: absolute;
  font-size: 100px;
  opacity: 0.13;
  font-weight: bold;
  z-index: -1;
  -webkit-transform: translate(-30px, -50px);
  transform: translate(-30px, -50px);
  line-height: 1;
}

section.horizontal .animation-wrap.to-right {
  counter-reset: item;
  float: left;
}

section.horizontal .animation-wrap.to-left {
  counter-reset: item 11;
  float: right;
}

section.horizontal .animation-wrap.to-right .item:before {
  counter-increment: item;
  content: counter(item);
}

section.horizontal .animation-wrap.to-left .item:before {
  counter-increment: item -1;
  content: counter(item);
}

section.horizontal .animation-wrap .item:nth-child(2n+2) {
  align-items: flex-start;
}

section.horizontal .animation-wrap .item:nth-child(4n+4) {
  align-items: flex-end;
}

/*# sourceMappingURL=index.css.map */
